.button {
  background: #077187;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  text-align: center;
  padding: 12px 30px !important;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: #0b8ea0;
  }
}
